/* 轮播 */
.lun{width: 100%;height: 400px;}
.lun img{width: 100%;height: 400px;}
/* 热门 */
.re{width: 1294px;height:385px ;margin: 0 auto;}
.re-l{width: 1200px;height: 68px;margin: 0 auto;}
.re h2{line-height: 68px;font-weight: 600;color: #514a44;}
.re-c{width: 1294px;height: 290px;display: flex;justify-content: space-between;}
.re-c-l{width: 37px;height: 290px;margin-right: 10px;}
.re-c-l img{margin-top: 120px;}
.re-c-c{width: 1200px;height: 290px;}
.re-c-c ul{display: flex;justify-content: space-between;}
.re-c-c li{float: left;}
.re-1{width: 225px;height: 290px;border-radius: 10px;border: #e8e8e8 solid 2px;}
.re-1-img{width: 225px;height: 135px;background-image: url(../img/hot9.jpg);background-size: 225px 135px;border-top-left-radius: 10px;border-top-right-radius:10px;}
.re-1-img p{width:35px ;height: 25px;background-color:#f7583b;color: #FFFFFF;float: right;padding-left: 7px;padding-top: 5px;font-size: 14px;border-bottom-left-radius: 10px;border-top-right-radius:10px;}
.re-1-b{width: 225px;height: 45px;}
.re-1-b p{font-size: 17px;font-weight: 600;margin-left: 5px;}
.re-1-b span{display: block;font-size: 17px;font-weight: 600;margin-left: 100px;}
.re-1-c{width: 115px;height: 35px;margin: 0 auto;margin-top: 5px;}
.re-1-c li{float: left;}
.re-1-c ul{display: flex;justify-content: space-between;}
.re-1-c-li1 button{width: 50px;height: 25px;border: solid 1px #ff94a0;color: #ff94a0;background-color: #FFFFFF;border-radius: 5px;}
.re-1-c-li2 button{width: 40px;height: 25px;border: solid 1px #ff94a0;color: #ff94a0;background-color: #FFFFFF;border-radius: 5px;}
.re-1-d{width: 70px;height: 18px;margin: 0 auto;margin-top: 10px;}
.re-1-d li{float: left;font-size: 16px;}
.re-1-e{width: 82px;height: 14px;margin: 0 auto;margin-top: 12px;}
.re-1-e p{font-size: 14px;color:#ff94a0 ;}
.re-2-img{width: 225px;height: 135px;background-image: url(../img/hot10.jpg);background-size: 225px 135px;border-top-left-radius: 10px;border-top-right-radius:10px;}
.re-2-img p{width:80px ;height: 22px;background-color:#fdf6cc;color: #e2b08f;float: right;padding-left: 10px;padding-top: 2px;font-size: 14px;border-bottom-left-radius: 10px;border-top-right-radius:10px;}
.re-2-c{width: 115px;height: 35px;margin: 0 auto;margin-top: 5px;}
.re-2-c li{float: left;}
.re-2-c ul{display: flex;justify-content: space-between;}
.re-2-c-li1 button{width: 50px;height: 25px;border: solid 1px #71c85f;color: #71c85f;background-color: #FFFFFF;border-radius: 5px;}
.re-2-c-li2 button{width: 40px;height: 25px;border: solid 1px #71c85f;color: #71c85f;background-color: #FFFFFF;border-radius: 5px;}
.re-2-e{width: 85px;height: 14px;margin: 0 auto;margin-top: 12px;}
.re-2-e p{font-size: 14px;color:#71c85f ;}
.re-3-img{width: 225px;height: 135px;background-image: url(../img/hot11.jpg);background-size: 225px 135px;border-top-left-radius: 10px;border-top-right-radius:10px;}
.re-3-img p{width:35px ;height: 25px;background-color:#f7583b;color: #FFFFFF;float: right;padding-left: 7px;padding-top: 5px;font-size: 14px;border-bottom-left-radius: 10px;border-top-right-radius:10px;}
.re-4-img{width: 225px;height: 135px;background-image: url(../img/hot12.jpg);background-size: 225px 135px;border-top-left-radius: 10px;border-top-right-radius:10px;}
.re-4-img p{width:35px ;height: 25px;background-color:#f7583b;color: #FFFFFF;float: right;padding-left: 7px;padding-top: 5px;font-size: 14px;border-bottom-left-radius: 10px;border-top-right-radius:10px;}
.re-c-r{width: 37px;height: 290px;margin-left: 10px;}
.re-c-r img{margin-top: 120px;}
/* 报告试用 */
.j{width: 100%;height: 595px;background-color:#f7f7f7;}
.j-m{width: 1200px;height: 595px;margin: 0 auto;}
.j-a{width: 1200px;height: 31px;display: flex;justify-content: space-between;padding-top: 24px;}
.j-a-l{width: 100px;}
.j-a-l h2{font-weight: 600;color: #514a44;}
.j-a-r{width:80px ;height: 31px;}
.j-a-r li{font-size: 15px;color: #F7583B;float: left;margin-left: 3px;margin-top: 8px;}
.j-b{width: 1200px;height: 237px;margin: 0 auto;margin-top: 20px;display: flex;justify-content: space-between;}
.j-b-1{width: 227px;height: 237px;border-radius: 5px;border: solid 2px #e8e8e8 ;}
.j-b-1-img1{width: 227px;height: 133px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.j-b-1 p{font-size: 15px;margin-left: 5px;}
.j-b-1 ul{display: flex;justify-content: space-between;margin-top: 30px;width: 220px;margin-left: 5px;}
.j-b-1 li{float: left;color:#a1abb5;font-size: 13px;}
/* 导购精选 */
.d{width: 1200px;height: 353px;margin: 0 auto;}
.d-1{width: 1200px;height: 31px;display: flex;justify-content: space-between;padding-top: 24px;}
.d-a{width: 235px;height: 270px;}
.d-c{width: 1200px;height: 270px;display: flex;justify-content: space-between;margin-top: 20px;}
.d-c-1{width:230px;height: 230px;border-radius: 7px;border: solid 2px #e8e8e8 ;}
.d-c-1-img1{width: 230px;height: 130px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.d-c-1 p{font-size: 15px;margin-left: 5px;}
.d-c-1 ul{display: flex;justify-content: space-between;margin-top: 30px;width: 220px;margin-left: 5px;}
.d-c-1 li{float: left;color:#a1abb5;font-size: 13px;}
.d-c-2{width: 220px;height: 10px;border-radius: 5px;border: solid 2px #e8e8e8;margin-left: 5px;margin-top: -5px;border-top-color: #FFFFFF;}
.d-c-3{width: 210px;height: 5px;border-radius: 5px;border: solid 2px #e8e8e8;margin-left: 10px;border-top-color: #FFFFFF;}
/* 发现酷玩 */
.k{width: 100%;height: 1220px;background-color:#f7f7f7 ;}
.k-m{width: 1200px;height: 1220px;margin: 0 auto;}
.k-a-m{width: 1200px;height: 240px;margin: 0 auto;margin-top: 20px;display: flex;justify-content: space-between;}
.k-a-1{width: 227px;height: 237px;border-radius: 5px;border: solid 2px #e8e8e8 ;}
.k-a-1-img1{width: 227px;height: 133px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.k-a-1 p{margin-left: 5px;}
.k-a-1 ul{display: flex;justify-content: space-between;margin-top: 30px;width: 220px;margin-left: 5px;}
.k-a-1 li{float: left;}
.k-a-1-li1{font-size: 14px;color: #F7583B;}
.k-a-1-li2{font-size: 13px;color: #a1abb5;}
.k-a-1-p1{font-size: 12px;color: #a1abb5 ;}
.k-b{width: 125px;height: 22px;margin: 0 auto;margin-top: 55px;}
.k-b li{float: left;color: #F7583B;margin-left: 5px;}
